body{
     margin: 0;
     padding: 0;
     text-align: center;
     background: url(mark.jpg);
     background-size: cover;
     font-family: sans-serif;
}
#btn{
    color:#fff;
    background: black;
    padding: 5px;
    margin-Left: 69%;
}